* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  /* Для WebKit-браузеров */
  -moz-osx-font-smoothing: grayscale;
  /* Для macOS */

  text-rendering: optimizeLegibility;
  /* Улучшает читаемость */
  font-kerning: normal;
  /* Корректировка межбуквенных расстояний */
  line-height: 1.6;
  /* Удобочитаемый интервал */
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: all 200ms linear;


}

a {
  text-decoration: none;
}

html {
  height: 100%;

}

body {

  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;



}


/* Прижимаем header и footer к краям */
header {
  height: 90px;
  flex: 0 0 auto;
  background: gray;
}

nav {
  display: flex;
  justify-content: space-around;
}

main {

  animation: fadeIn 200ms ease-in;
  min-height: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

footer {
  flex: 0 0 auto;
  background: gray;
}





@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}