.babyloneMainWrap {
    overflow: hidden;
    width: 100%;
    height: auto;
    //border: 1px solid black;
    border-radius: 10px;

    position: relative;

    canvas {
        width: 100%;
        //height: 100%;
        outline: 0;
        aspect-ratio: 16/8;
        // border: 1px solid black;
    }

    .colorPickerBlock {
        position: absolute;
        top: 5px;
        left: 5px;
        opacity: 0;
    }

    .fullScreenBtn {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        opacity: 0;

        .text {
            font-size: 13px;
            opacity: .5;
        }

        &:hover {
            opacity: 1;

            .text {
                opacity: 1;
            }
        }
    }

    .materialPanel {
        //border: 1px solid black;
        border-radius: 10px;
        //background: rgba(255, 255, 255, 0.322);
        position: absolute;
        right: 10px;
        top: 30px;
        bottom: 0;
        max-height: 100%;
        overflow-y: auto;
        display: none;
        flex-direction: column;
        // transform: translateX(90%);

        // &:hover {
        //     transform: translateX(0%);
        // }

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        .materialBlock {
            //border: 1px solid black;

            //padding: 10px;
            //  background: lightgreen;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 100%;
            opacity: .8;

            &:hover {
                opacity: 1;
            }

            .title {
                //padding: 2px 5px;
                // background: white;
                border-radius: 3px;
                font-size: 12px;
                text-wrap: wrap;
                width: 60px;
                //display: none;
            }

            .materialsList {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                .materialItem {
                    cursor: pointer;


                    position: relative;

                    .imgWrap {
                        border-radius: 50%;
                        position: relative;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }

                    .materialName {
                        display: none;
                        font-size: 14px;
                        text-wrap: wrap;
                    }

                    .materialAboutBlock {
                        // width: 350px;
                        //border: 1px solid black;

                        display: none;
                        // flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        position: fixed;
                        top: 20px;
                        left: 20px;
                        // transform: translateX(100%);
                        z-index: 1;

                        .name {

                            font-size: 17px;
                            display: none;
                        }

                        img {
                            border-radius: 10px;
                        }

                        .aboutText {
                            padding: 10px 5px;
                            width: 250px;
                            background: white;
                            font-size: 12px;
                            text-wrap: wrap;
                            border-radius: 0px 20px 10px 10px;
                            border: 1px solid black;

                        }

                    }

                    &:hover {
                        .materialAboutBlock {
                            display: flex;
                        }
                    }
                }

            }



        }
    }

    .animationsBlock {
        width: 0px;
        position: absolute;
        top: 100px;
        left: 0;
        background: lightblue;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .animBlockBtn {
            display: flex;
            gap: 0px;
            cursor: pointer;
            opacity: 0;

            &:hover {
                opacity: .7;
            }
        }

        .animationItem {
            background: white;
            border-radius: 15px;
            border: 1px solid black;
            padding: 2px 5px;
            text-wrap: nowrap;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 12px;
        }

        .animationItemClosed {
            transform: translateX(-120%);
        }

        .animationPlayed {
            background: lightgray;
        }
    }

    &:hover {
        .fullScreenBtn {
            opacity: .6;
        }

        .colorPickerBlock {
            opacity: 1;
        }

        .animationsBlock {
            .animBlockBtn {
                opacity: .5;
            }
        }

        .materialPanel {
            display: flex;
        }
    }

}

.babyloneFullScreen {
    z-index: 10;
    background: white;
    //border: 1px solid black;
    position: fixed;
    inset: 0px 0px 0px 0px;

    canvas {
        aspect-ratio: none;
        width: 100%;
        height: 100%;
    }

    .materialPanel {
        top: 70px;
    }

    .fullScreenBtn {
        background: white;
        top: 20px;
        right: 20px;

    }

    .animationsBlock {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 10px;
        left: 10px;
        justify-content: space-around;
        width: 0px;
    }

}